# Copy this file to settings.toml and fill in your values
CIRCUITPY_WIFI_SSID = "YOUR_WIFI_SSID"
CIRCUITPY_WIFI_PASSWORD = "YOUR_WIFI_PASSWORD"
CIRCUITPY_WEB_API_PASSWORD = "YOUR_WEB_API_PASSWORD"
CIRCUITPY_WEB_API_PORT = 80
